<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <title>Flash!</title>
</head>
<body>
  <div id="flashcard-app" class="container">

    <h1>Flashcard App!</h1>

    <div>
      <label for="front">Front
        <input v-model="cardFront" type="text" id="front">
      </label>
      <label for="back">Back
        <input v-on:keypress.enter="addNew" v-model="cardBack" type="text" id="back">
      </label>
      <button v-on:click="addNew">Add a New Card</button>
      <span class="error" v-if="error">Oops! Cards need a front and a back.</span>
    </div>  
    
    <ul>
      <li v-for="(card, index) in cards" 
        v-on:click="toggleCard(card)">
        <transition-group name="flip" tag="span" mode="out-in">    
          <span class="card" v-bind:class="{memorized: card.memorized}" 
            v-show="!card.flipped" 
            v-bind:key="index">
            <span class="delete-card" v-on:click="cards.splice(index, 1)">
              <i class="material-icons">clear</i>
            </span>
            <p>{{card.front}}</p>
            <!-- <div class="check" v-on:click="memorized(card)">
              <p v-if="!card.memorized">
                <i  class="material-icons">check_box_outline_blank </i> I know it!
              </p> 
              <p v-else="card.memorized">
                <i class="material-icons checked-box">check_box</i>
              </p>
            </div> -->
          </span>
          <span class="card" v-bind:class="{memorized: card.memorized}"
            v-show="card.flipped" 
            v-bind:key="index + 1">
            <span class="delete-card" v-on:click="cards.splice(index, 1)">
              <i class="material-icons">clear</i>
            </span>
            <p>{{card.back}}</p>
          </span>
        </transition-group>
      </li>
    </ul>
    
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>