body {
  font-family: 'Open Sans', sans-serif;
}
ul {
  padding-left: 0;
  display: flex;
  flex-flow: row wrap;
}

li {
  list-style-type: none;
}

.container {
  max-width: 80%;
  padding: 2em;
}
.card {
  display: block;
  width: 100px;
  height: 125px;
  padding: 50px 30px 30px 30px;
  border: 1px solid black;
  border-radius: 3px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  position: relative;
  -webkit-box-shadow: 9px 10px 22px -8px rgba(209,193,209,1);
  -moz-box-shadow: 9px 10px 22px -8px rgba(209,193,209,1);
  box-shadow: 9px 10px 22px -8px rgba(209,193,209,1);
}

.delete-card {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 15px;
}

.delete-card:hover, .error {
  color: red;
}

.flip-enter-active {
  transition-duration: .4s;
}

.flip-enter, .flip-leave {
  transform: rotateY(180deg);
  opacity: 0;
}
